<div class="dashboard-page fluid">
    <app-header></app-header>
    <page-header>Dashboard</page-header>

    <insights>
        <!-- Overall Summarized Insight -->
        <insight name="Summary">
            <summary-filters
                v-bind:s-date="sumSDate"
                v-bind:e-date="sumEDate"
                v-bind:bot-channels="sumBotChannels"
            ></summary-filters>
            <summary-chart
                v-bind:data="summary"
                v-bind:fetching="fetchingSummary"
            ></summary-chart>
        </insight>

        <hr />

        <!-- Unique User Insight -->
        <insight name="Unique Users">
            <uniq-users-filters
                v-bind:week="uniWeek"
                v-bind:bot-channels="uniBotChannels"
                v-bind:sub-categories="uniSubCategories"
                v-bind:categories="uniCategories"
            ></uniq-users-filters>
            <unique-users-chart
                v-bind:data="uniqueUsers"
                v-bind:fetching="fetchingUniqUsers"
            ></unique-users-chart>
        </insight>
    </insights>
</div>
