<!-- some class definations
vs-up = for screen larger than very small size
sm-up/down = for screen larger/smaller than small size
md-up/down = for screen larger/smaller than midium size
lg-up/down = for screen larger/smaller than large size -->

<div class="dashboard-page fluid">
    <app-header></app-header>
    <page-header>Dashboard</page-header>

    <insights>
        <!-- Overall Summarized Insight -->
        <insight name="Summary">
            <v-layout row wrap>
                <v-flex xs6 sm2>
                    <v-dialog
                        ref="dialogStart"
                        persistent
                        v-model="modalStart"
                        lazy
                        full-width
                        width="290px"
                        :return-value.sync="sDate"
                    >
                        <v-text-field
                            slot="activator"
                            label="Start Date"
                            v-model="sDate"
                            prepend-icon="event"
                            readonly
                        ></v-text-field>
                        <v-date-picker v-model="sDate">
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="modalStart = false">Cancel</v-btn>
                            <v-btn flat color="primary" @click="$refs.dialogStart.save(sDate)">OK</v-btn>
                        </v-date-picker>
                    </v-dialog>
                </v-flex>
                <v-flex xs6 sm2>
                    <v-dialog
                        ref="dialogEnd"
                        persistent
                        v-model="modalEnd"
                        lazy
                        full-width
                        width="290px"
                        :return-value.sync="eDate"
                    >
                        <v-text-field
                            slot="activator"
                            label="End Date"
                            v-model="eDate"
                            prepend-icon="event"
                            readonly
                        ></v-text-field>
                        <v-date-picker v-model="eDate">
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="modalEnd = false">Cancel</v-btn>
                            <v-btn flat color="primary" @click="$refs.dialogEnd.save(eDate)">OK</v-btn>
                        </v-date-picker>
                    </v-dialog>
                </v-flex>
                </v-layout>
            <summary-chart
                v-bind:data="summary"
                v-bind:fetching="fetchingSummary"
            ></summary-chart>
        </insight>

        <v-divider inset></v-divider>

        <!-- Unique User Insight -->
        <insight name="Unique Users">
            <unique-users-chart
                v-bind:data="uniqueUsers"
                v-bind:fetching="fetchingUniqUsers"
            ></unique-users-chart>
        </insight>
    </insights>
</div>
