<!-- some class definations
vs-up = for screen larger than very small size
sm-up/down = for screen larger/smaller than small size
md-up/down = for screen larger/smaller than midium size
lg-up/down = for screen larger/smaller than large size -->

<div class="dashboard-page">
    <app-header></app-header>
    <page-header>Dashboard</page-header>

    <insights>
        <!-- Overall Summarized Insight -->
        <insight name="Summary">
            <summary-chart
                v-bind:data="summary"
                v-bind:fetching="fetchingSummary"
            ></summary-chart>
        </insight>

        <!-- Unique User Insight -->
        <insight name="Unique Users">
            <unique-users-chart
                v-bind:data="uniqueUsers"
                v-bind:fetching="fetchingUniqUsers"
            ></unique-users-chart>
        </insight>
    </insights>
</div>
