html,
body {
    font-family: sans-serif;
    line-height: 1.5;

    // Improve font quality on a page;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #ffffff;
}

@import './app/AppComponent.scss';
@import './components/AppHeader/AppHeader.scss';
@import './components/Charts/Summary/SummaryChart.scss';
@import './components/Charts/UniqueUsers/UniqueUsersChart.scss';
@import './components/Insight/Insight.scss';
@import './components/Insights/Insights.scss';
@import './components/PageHeader/PageHeader.scss';
